# python
*.pyc
**/__pycache__/
.pytest_cache/*
.pydevproject

# IDE
.vscode/*

# Pip
*.egg-info

# files
.env
*.log
*.pkl
*.jpg
*.pcd
tutorial/*.gif

# exp
exp

# data
dataset

# lsf
*.bsub

# running scripts
scripts_dev/*
